<% @title = "Show TraceableTree in Google Maps" %>

<html>
<head>
  <title>Google maps view</title>
    <!-- This includes the google maps API code. You need to put your own key here -->
    <script src="http://maps.google.com/maps?file=api&v=2&key=ABQIAAAAjvBwdlzPB7Fj-6-PU8kK0hQ8nda2l8z-oXOZMhvo4DA8FzaARRSUOr1l6MMYwDUaFhGRFMdSwALB7Q"
	type="text/javascript"></script>

    <script type="text/javascript">
        // helper function to create markers
        function createMarker(point,html) {
            var marker = new GMarker(point);
            GEvent.addListener(marker, "click", function() {
             marker.openInfoWindowHtml(html);
             });
            return marker;
        }

        // this is called when the page loads.
        // it initializes the map, and creates each marker
        function initialize() {
            var map = new GMap2(document.getElementById("map"));
            map.addControl(new GSmallMapControl());
            map.addControl(new GMapTypeControl());
            
            var gLatLng = new GLatLng(<%= @location.lat %>, <%= @location.lng %>);
            
            map.setCenter(gLatLng, 13, G_SATELLITE_MAP);
            var marker = createMarker(gLatLng,'<div><%= highlight(@marker_string, "Wood4Life") %></div>');
            

            map.addOverlay(marker);
            
        }
    </script>

</head>
<body onload="initialize()">

Here's the origin of your TraceableTree:

<!-- This is the element in which the map will be displayed. -->
<div id="map" style="width: 580px; height: 480px"></div>

<p><%= back %></p>

</body>
</html>
