<% @title = "Lookup Address" %>
<p>Hier kommen so Gimmick hin wie</p>
<ul>
  <li>"Adresse suchen und in Google Maps darstellen"</li>
  <li>"ToDos für dieses Projekt verwalten"</li>
</ul>

<br/>
<p>
<a href="http://stopdesign.com/eg/buttons/3.0/code.html#"
    class="btn"><span><span>Beispiel</span></span>
    </a> &nbsp;<code>Custom Buttons 3.0</code>
</p>

<p>
  <button type="button" class="btn">
    <span><span>Welche Funktion?</span></span>
  </button> &nbsp;
  <code>Welche Funktion wird beim Drücken ausgelöst?</code>
</p>

